.contact-section h1 {
  font-size: xx-large;
  text-align: center;
}

.contact-main {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contact-details {
  margin-top: 40px;
  width: 40%;
}

.contact-details h2 {
  font-size: x-large;
  margin-bottom: 20px;
}

.contact-details- h3 {
  font-size: larger;
  margin-bottom: 5px;
  color: rgb(113, 113, 113);
}

.contact-details- p {
  margin-bottom: 40px;
}
.contact-form {
  background-color: #ffe0b6;
  padding: 2rem;
  margin-top: 40px;
  border-radius: 5px;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form form input,
textarea {
  background-color: #fff5e6;
  padding: 0.8rem;
  border-radius: 5px;
}

.contact-form-btn {
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  font-size: small;
  transition: ease-in-out 0.2s;
}

.contact-form-btn:hover {
  background-color: black;
  color: white;
}

.contact-form-btn:active {
  background-color: rgba(113, 113, 113, 0.692);
  color: white;
  border: 1px solid rgba(113, 113, 113, 0.692);
}

@media (max-width: 676px) {
  .contact-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .contact-details {
    width: auto;
  }
}
