.hero-main {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 10rem 0 10rem;
}

.hero-intro {
  width: 50%;
}
.hero-intro span {
  color: rgb(113, 113, 113);
}

.hero-intro h1 {
  font-size: 2rem;
  font-family: "Borel", cursive;
  font-weight: bold;
  margin-top: 1rem;
}

.hero-intro p {
  color: rgb(113, 113, 113);
}

.hero-intro button {
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  font-size: small;
  transition: ease-in-out 0.2s;
}
.hero-intro button:hover {
  background-color: black;
  color: white;
}
.hero-intro button:active {
  background-color: rgba(113, 113, 113, 0.692);
  color: white;
  border: 1px solid rgba(113, 113, 113, 0.692);
}

.hero-img {
  width: 50%;
}

@media (max-width: 992px) {
  .hero-main {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 1.5rem;
    width: auto;
    margin-top: 0;
  }
  .hero-intro {
    width: auto;
  }
  .hero-img {
    width: 100%;
  }
}
